

<ion-view view-title="Arbeitsoberfläche">
  

  
  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title paddingtop">Arbeitsoberfläche</h1>
    <div class="button icon-right ion-chevron-right button-clear" style="padding-top: 10px;" ng-click="callSessionuebersicht()" >
        Sessions
    </div>
  </ion-header-bar>

  <ion-content class="padding has-header">
      <div style="height:50px"><!-- Placeholder --></div>
      <div class="padding row">
        
        <div class="col col-25 padding">
          <img src="img/datum.png" style="float: right;"/>
        </div>

        <div class="col col-75 padding">
          <label class="item item-input" style="top: 15px;">
            <span>Datum</span>
              <input type="date" ng-model="date" id="datum" style="text-align: right;"/>
          </label>
        </div>
      </div>
        
        <div style="height:30px"><!-- Placeholder --></div>
        
        <div class="padding" style="text-align: center">
            <img src="img/family.png"/>
        </div>
      
      
      <!---Testanfang-->
      
    

      <!---Testende-->
      
      <div class="button button-block button-positive" ng-click="callSessiondetail()" >
        Session Starten
      </div>
      
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" minlength="2" id="kunde" placeholder="Kunde suchen" ng-model="search" ng-change="searchContacts()">
      </label>
      <ion-list>
        <div class="list" ng-hide="clicked">
          <a ng-repeat="contact in contacts | filter:search" class="item" ng-if="search" data-id=null ng-model="change" ng-click="updateInput(contact)">
            <h2>{{contact.fullName}}</h2>
          </a>
        </div>
      </ion-list>
      
      <div class="padding"></div>
      


  </ion-content>
  
    <!--<ion-footer-bar class="bar-positive">
      <button class="button button-full button-clear" ng-click="callSessionmanager()" style="font-size: xx-large;"><b>SESSION STARTEN</b></button>
  </ion-footer-bar>-->
</ion-view>
