

<ion-view view-title="Sessionmanager">
  
  
  <ion-header-bar class="bar-balanced">
    <div class="buttons">
      <button class="button" ng-click="callSessionmanager()">Zurück</button>
    </div>
    <h1 class="title">Arbeitsmanager</h1>
  </ion-header-bar>

  <ion-content class="padding has-header">
    <div class="padding">
            <!--placeholder-->
    </div>
        <div class="padding" style="text-align: center;">
            <img src="img/notizenbild.png" />
        </div>
        <div class="padding">
            <!--placeholder-->
        </div>
       <div class="padding list">
            <label class="item item-input item-select">
                <div class="input-label">
                  Leistung
                </div>
                <select>
                    <option>Schwimmen</option>
                    <option selected>Laufen</option>
                    <option>Sauna</option>
                </select>
            </label>
      </div>
       
       <div class="padding">
            <!--placeholder-->
        </div>
       
        <!-- Uhre und Datum -->
        <div class="padding row">
             <div class="col col-50">
                <img src="img/uhr_gruen.png" />
            </div>
            <div class="col col-50" style="position: relative; ">
                <label class="item item-input" style=" position: absolute; bottom:5px;">
                    <input placeholder="Datum" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" />
                </label>
            </div>
        </div>
        
        <!--Zeiten und Buttons-->
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Anfangszeit" class="textbox-n" type="text" ng-model="date" onfocus="(this.type='time')" onblur="(this.type='text')" />
                </label>
            </div>
            
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Endzeit" class="textbox-n" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" />
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-50">
                <button class="button icon-right ion-chevron-right button-balanced" ng-click="getDateTime.date">Jetzt</button>
            </div>
            <div class="col col-50">
                <button class="button icon-right ion-chevron-right button-balanced">Jetzt</button>
            </div>
        </div>
       
       <div class="padding">
            <!--placeholder-->
        </div>
       
  </ion-content>
  
  <ion-footer-bar class="bar-balanced">
      <button class="button button-full button-clear" ng-click="finishArbeit()" style="font-size: xx-large"><b>OK</b></button>
  </ion-footer-bar>

</ion-view>
