<ion-view view-title="Sessionmanager">
  
  
  <ion-header-bar class="bar-balanced">
	<div class="buttons">
	  <button class="button" ng-click="callSessionmanager()">Zurück</button>
	</div>
	<h1 class="title">Arbeitsmanager</h1>
  </ion-header-bar>

  <ion-content class="padding has-header">
    <div class="padding">
            <!--placeholder-->
    </div>
        <div class="padding" style="text-align: center;">
            <img src="img/notizenbild.png" />
        </div>
        
       <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                  <span id="beschriftung">Leistung</span>
                </div>
                <select id='leistung' data-id=0 ng-model='updateId' ng-change='updateDataId()'>
                    <option ng-repeat='leistung in leistungen' data-id='{{leistung.id}}'>{{leistung.name}}</option>
                </select>
            </label>
      </div>
       
       <div class="padding">
            <!--placeholder-->
        </div>
       
       
        <!-- Uhre und Datum -->
        <div class="row">
          <div class="col" style="text-align: center;">
                  <img src="img/uhr_gruen.png"/>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input">
                    <span>Datum</span>
                    <input class="textbox-n" type="date" id="datum" ng-model="date" style="text-align: right"/>
                </label>
            </div>
        </div>
        
        <!--Zeiten und Buttons-->
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input" id="styleA" ng-click="hideSpanA = !hideSpanA">
                    <span ng-hide="hideSpanA" ng-if="!anfangszeit" >Anfangszeit</span>
                    <input class="textbox-n" id="timeA" type="time" ng-model="uhranfang"/>
                    <span class="input-label" ng-if="uhranfang" style="font-size: smaller; color: #aaa;">Uhr</span>
                </label>
            </div>
            
            <div class="col col-50">
                <label class="item item-input" id="styleE" ng-click="hideSpanE = !hideSpanE">
                    <span ng-hide="hideSpanE" ng-if="!endzeit" >Endzeit</span>
                    <input class="textbox-n" id="timeE" type="time" ng-model="uhrende"/>
                    <span class="input-label" ng-if="uhrende" style="font-size: smaller; color: #aaa;">Uhr</span>
                </label>
            </div>
        </div>
        
       
       <div class="padding">
            <!--placeholder-->
        </div>
       
  </ion-content>
  
  <ion-footer-bar class="bar-balanced">
	  <button class="button button-full button-clear" ng-click="finishArbeit()" style="font-size: xx-large"><b>OK</b></button>
  </ion-footer-bar>

</ion-view>
