

<ion-view view-title="Fahrtenmanager">
  
  
    <ion-header-bar class="bar-assertive">
    <div class="buttons">
      <button class="button" ng-click="callSessionmanager()">Zurück</button>
    </div>
    <h1 class="title">Fahrtenmanager</h1>
  </ion-header-bar>

  
  <ion-content class="padding has-header">
    
        <div class="padding">
            <!--placeholder-->
        </div>
    
    
        <div class="row">
            <div class="col col-25">
                <img src="img/distanz.png" style="width: 70%;"/>
            </div>
            <div class="col col-75">
                <label class="item item-input">
                    <input placeholder="KFZ" class="textbox-n" type="text"/>
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Kilometer Anfang" class="textbox-n" type="number" ng-model="kanfang"/>
                    <span class="input-label" ng-if="kanfang" style="font-size: smaller; color: #aaa;">km</span> 
                </label>
            </div>
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Kilometer Ende" class="textbox-n" type="number" ng-model="kende"/>
                    <span class="input-label" ng-if="kende" style="font-size: smaller; color: #aaa;">km</span>
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Standort Anfang" class="textbox-n" type="text"/>
                </label>
            </div>
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Standort Ende" class="textbox-n" type="text"/>
                </label>
            </div>
        </div>
        
       <div class="padding">
            <!--placeholder-->
        </div>
       
        <!-- Uhre und Datum -->
        <div class="row">
             <div class="col col-25">
                <img src="img/uhr_rot.png" style="width: 50%;" />
            </div>
            <div class="col col-75">
                <label class="item item-input">
                    <span class="input-label" ng-if="!datum" style="font-size: smaller; color: #aaa;">Datum</span> 
                    <input type="date" ng-model="datum" />
                </label>
            </div>
        </div>
        
        <!--Zeiten und Buttons-->
        
        
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input" ng-click="hideSpanA = !hideSpanA">
                    <span ng-hide="hideSpanA" ng-if="!anfangszeit" >Anfangszeit</span>
                    <input class="textbox-n" type="time" ng-model="uhranfang"/>
                    <span class="input-label" ng-if="uhranfang" style="font-size: smaller; color: #aaa;">Uhr</span>
                </label>
            </div>
            
            <div class="col col-50">
                <label class="item item-input"  ng-click="hideSpanE = !hideSpanE">
                    <span ng-hide="hideSpanE" ng-if="!endzeit" >Endzeit</span>
                    <input class="textbox-n" type="time" ng-model="uhrende"/>
                    <span class="input-label" ng-if="uhrende" style="font-size: smaller; color: #aaa;">Uhr</span>
                </label>
            </div>
        </div>
       
       
       <div class="padding">
            <!--placeholder-->
        </div>
       
       <div class="padding list">
            <label class="item item-input item-select">
                <div class="input-label">
                  Fahrtyp
                </div>
                <select id="leistung" data-id=0>
                    <option ng-repeat='leistung in leistungen' ng-click='updateDataId(leistung)'>{{leistung.name}}</option>
                </select>
            </label>
      </div>
       
       <div class="padding">
            <!--placeholder-->
      </div>
       
  </ion-content>
  
  <ion-footer-bar class="bar-assertive">
      <button class="button button-full button-clear" ng-click="finishFahrt()" style="font-size: xx-large;"><b>OK</b></button>
  </ion-footer-bar>

</ion-view>
