

<ion-view view-title="Fahrtenmanager">
  
  
    <ion-header-bar class="bar-assertive">
    <div class="buttons paddingtop">
     <button class="button icon-left ion-chevron-left button-clear" ng-click="callSessionmanager()"></button>
    </div>
    <h1 class="title paddingtop">Fahrtenmanager</h1>
    <div class="buttons paddingtop" style="padding-top: 8px;">
	  <button class="button button-clear" ng-click="finishFahrt()" ><h4 style="color: rgb(255,255,255)">OK</h4></button>
	</div>
  </ion-header-bar>

  
  <ion-content class="padding has-header">
    
        <div class="padding">
            <!--placeholder-->
        </div>
    
    
        <div class="row">
            <div class="col col-25">
                <img src="img/distanz.png" style="width: 70%;"/>
            </div>
            <div class="col col-75">
                <label class="item item-input" id="stylekfz">
                    <input placeholder="KFZ" id="kfz" ng-model="kfz" class="textbox-n" type="text"/>
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input" id="stylekanfang">
                    <input placeholder="Kilometer Anfang" class="textbox-n" type="number" id="kanfang" ng-model="kanfang"/>
                    <span class="input-label" ng-if="kanfang" id="kende" style="font-size: smaller; color: #aaa;">km</span> 
                </label>
            </div>
            <div class="col col-50">
                <label class="item item-input" id="stylekmende">
                    <input placeholder="Kilometer Ende" class="textbox-n" type="number" id="kmende" ng-model="kende"/>
                    <span class="input-label" ng-if="kende" style="font-size: smaller; color: #aaa;">km</span>
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input" id="styleanfangsort">
                    <input placeholder="Standort Anfang" class="textbox-n" type="text" id="anfangsort"/>
                </label>
            </div>
            <div class="col col-50">
                <label class="item item-input" id="styleendort">
                    <input placeholder="Standort Ende" class="textbox-n" type="text" id="endort"/>
                </label>
            </div>
        </div>
        
       <div class="padding">
            <!--placeholder-->
        </div>
       
        <!-- Uhre und Datum -->
        <div class="row">
             <div class="col col-25">
                <img src="img/uhr_rot.png" style="width: 50%;" />
            </div>
            <div class="col col-75">
                <label class="item item-input" id="styledatum">
                    <span class="input-label" ng-if="!datum" style="font-size: smaller; color: #aaa;">Datum</span> 
                    <input type="date" ng-model="datum" id="datum"/>
                </label>
            </div>
        </div>
        
        <!--Zeiten und Buttons-->
        
        
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input" ng-click="hideSpanA = !hideSpanA" id="styletimeA">
                    <span ng-hide="hideSpanA" ng-if="!uhranfang" >Anfangszeit</span>
                    <input class="textbox-n" type="time" ng-model="uhranfang" id="timeA"/>
                    <span class="input-label" ng-if="uhranfang" style="font-size: smaller; color: #aaa;">Uhr</span>
                </label>
            </div>
            
            <div class="col col-50">
                <label class="item item-input"  ng-click="hideSpanE = !hideSpanE" id="styletimeE">
                    <span ng-hide="hideSpanE" ng-if="!uhrende" >Endzeit</span>
                    <input class="textbox-n" type="time" ng-model="uhrende" id="timeE"/>
                    <span class="input-label" ng-if="uhrende" style="font-size: smaller; color: #aaa;">Uhr</span>
                </label>
            </div>
        </div>
       
       
       <div class="padding">
            <!--placeholder-->
        </div>
       
       <div class="padding list">
            <label class="item item-input item-select" id="styleleistung">
                <div class="input-label">
                  Fahrtyp
                </div>
                <select id="leistung" data-id=0 ng-model="updateId">
                    <option ng-repeat='leistung in leistungen' data-id="{{leistung.id}}">{{leistung.name}}</option>
                </select>
            </label>
      </div>
       
       <div class="padding">
            <!--placeholder-->
      </div>
       
  </ion-content>
  
<!--  <ion-footer-bar class="bar-assertive">
      <button class="button button-full button-clear" ng-click="finishFahrt()" style="font-size: xx-large;"><b>OK</b></button>
  </ion-footer-bar>-->

</ion-view>
