

<ion-view view-title="Sessionübersicht" ng-controller="ListCtrl">
  
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
     <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete;"></button>
    </div>
    <h1 class="title">Sessionübersicht</h1>
    <div class="buttons">
      <button class="button" ng-click="callArbeitsoberflaeche()">Zurück</button>
    </div>
  </ion-header-bar>

  <ion-content class="padding has-header">
      <ion-list show-delete="data.showDelete">
        
        <ion-item ng-repeat="item in items" item="item" href="#/sessionbearbeitung/arbeit" class="item-icon-right item-remove-animate">
          
          <h2>{{ item.name }}</h2>
          <p>{{ item.ort }}</p>
          <i class="icon icon-right ion-chevron-right"></i>
          <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"> </ion-delete-button>
        </ion-item>
        

  </ion-content>
  
    <ion-footer-bar class="bar-positive">
      <button class="button button-full button-clear" ng-click="" style="margin-top: 0px"><b>HOCHLADEN</b></button>
  </ion-footer-bar>
</ion-view>
