

<ion-view view-title="Arbeit">
  
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="callSessiondetail()">Zurück</button>
    </div>
    <h1 class="title">Sessionbearbeitung</h1>
  </ion-header-bar>
    
  <ion-content class="padding has-header">
    
    <div class="padding">
            <!--placeholder-->
    </div>
    <h1>noch irgenda ueberschrift</h1>
    <div class="padding row">
             <div class="col col-50">
                <img src="img/arbeitsmanager.png" style="width: 70%;"/>
            </div>
        </div>
    
    
    <div class="padding list">
            <label class="item item-input item-select">
                <div class="input-label">
                  Leistung
                </div>
                <select id="leistungSelect">
                    <option ng-repeat="leistung in leistungen" ng-selected="{{selected.value}}" data-leistung-id="{{leistung.id}}">{{leistung.name}}</option>
                </select>
            </label>
      </div>
        
        <!--Zeiten und Buttons-->
        
        <div class="padding row">
             <div class="col ">
                <label class="item item-input">
                    <span class="input-label" ng-if="!activeArbeit.date" style="font-size: smaller; color: #aaa; padding:0; margin: 0;">Anfangsdatum</span> 
                    <input type="date" id="inputDate" ng-model="activeArbeit.date"/>
                </label>
            </div>
            <div class="col">
                <label class="item item-input">
                    <span class="input-label" ng-if="!datumE" style="font-size: smaller; color: #aaa;">Enddatum</span> 
                    <input type="date"  ng-model="date" />
                </label>
            </div>
        </div>
        
        
        <div class="padding row">
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Anfangszeit" id="timeA" value="{{activeArbeit.anfangszeit}}" class="textbox-n" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" />
                </label>
            </div>
            
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Endzeit" id="timeE" value='{{activeArbeit.endzeit}}' class="textbox-n" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" />
                </label>
            </div>
        </div>
    
      <div class="padding">
            <!--placeholder-->
      </div>
       
  </ion-content>
  
  <ion-footer-bar class="bar-positive">
      <button class="button button-full button-clear" ng-click="callSessiondetail(true)" style="font-size: xx-large;"><b>OK</b></button>
  </ion-footer-bar>


</ion-view>
