

<ion-view view-title="Sessionbearbeitung">
  
  
    <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">Sessionbearbeitung</h1>
    <div class="buttons">
      <button class="button" ng-click="callSessionuebersicht()">Zurück</button>
    </div>
  </ion-header-bar>
        
        
        <ion-nav-view name="arbeit"></ion-nav-view>
        <ion-nav-view name="fahrt"></ion-nav-view>
               
  
  
  <ion-footer-bar class="bar-positive">
      <button class="button button-full button-clear" ng-click="" style="margin-top: 0px"><b>OK</b></button>
  </ion-footer-bar>

</ion-view>
