<ion-view view-title="Sessiondetail">
  
  
    <ion-header-bar class="bar-positive">
      <div class="buttons paddingtop">
       <button class="button icon-left ion-chevron-left button-clear" ng-click="callSessionuebersicht()"></button>
      </div>
      <h1 class="title paddingtop">Sessiondetails</h1>
      <div class="buttons paddingtop" style="padding-top: 8px;">
        <button class="button button-clear" ng-click="" ><h4 style="color: rgb(255,255,255)">OK</h4></button>
      </div>
    </ion-header-bar>

  
  <ion-content class="padding has-header">
    
    <div class="padding">
            <!--placeholder-->
      </div>
    
    <div class="padding">
      <h1>Übersicht</h1>
    </div>
    
    
    <label class="padding item item-input">
      <span class="input-label"><b>Name</b></span>
      <input type="Kunde" class="textbox-n" value="Alex Monz" style="text-align: right; color: #aaa;">
    </label>
    
    <label class="padding item item-input">
      <span class="input-label"><b>Zeitraum</b></span>
      <input type="text" class="textbox-n" value="27.05.2015" style="text-align: right; color: #aaa;">
    </label>
    
    <label class="padding item item-input">
      <span class="input-label"><b>Gesamtkilometer</b></span>
      <input type="text" class="textbox-n" value="215 km" style="text-align: right; color: #aaa;">
    </label>
    
    <label class="padding item item-input">
      <span class="input-label"><b>Arbeitsstunden</b></span>
      <input type="text" class="textbox-n" value="13h" style="text-align: right; color: #aaa;">
    </label>
    
    <div class="padding">
      <h1>Sessions</h1>
    </div>
    
    <ion-list>
        <ion-item ng-repeat="item in items" item="item" href="#/sessionbearbeitung_{{item.session}}" class="item-icon-right">
          <h2>{{ item.session }}</h2>
          <p>{{ item.leistung }}</p>
          <i class="icon icon-right ion-chevron-right"></i>
        </ion-item>
    </ion-list>
    
    <div class="padding">
            <!--placeholder-->
      </div>
    
  </ion-content>


</ion-view>
