

<ion-view view-title="Arbeit">
  
  <ion-header-bar class="bar-positive">
    <div class="buttons paddingtop">
       <button class="button icon-left ion-chevron-left button-clear" ng-click="callSessiondetail(false)"></button>
      </div>
      <h1 class="title paddingtop">Sessionbearbeitung</h1>
      <div class="buttons paddingtop" style="padding-top: 8px;">
        <button class="button button-clear" ng-click="callSessiondetail(true)" ><h4 style="color: rgb(255,255,255)">OK</h4></button>
      </div>
  </ion-header-bar>
    
  <ion-content class="padding has-header">
    
        <div class="padding">
            <!--placeholder-->
    </div>
        <div class="padding" style="text-align: center;">
            <img src="img/notizenbild.png" />
        </div>
        
       <div class="list">
            <label class="item item-input item-select" id="beschriftung">
                <div class="input-label" >
                  <span >Leistung</span>
                </div>
                <select id='leistungSelect' data-id=0>
                    <option ng-repeat='leistung in leistungen' ng-selected="{{selected.value}}" data-leistung-id="{{leistung.id}}">{{leistung.name}}</option>
                </select>
            </label>
      </div>
       
       <div class="padding">
            <!--placeholder-->
        </div>
       
       
        <!-- Uhre und Datum -->
        <div class="row">
          <div class="col" style="text-align: center;">
                  <img src="img/uhr_gruen.png"/>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input" id="styledatum">
                    <span>Anfangsdatum</span>
                    <input class="textbox-n" type="date" id="inputDate" ng-model="activeArbeit.date" style="text-align: right"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input" id=styledatumE">
                    <span>Enddatum</span> 
                    <input class="textbox-n" type="date" id="inputDate" ng-model="activeArbeit.date" style="text-align: right" />
                </label>
            </div>
        </div>
        
        <!--Zeiten und Buttons-->
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input" id="styleA" ng-click="hideSpanA = !hideSpanA">
                    <span ng-hide="hideSpanA" ng-if="!uhranfang" >Anfangszeit</span>
                    <input class="textbox-n" id="timeA" type="text" ng-model="uhranfang" value="{{activeArbeit.anfangszeit}}" onfocus="(this.type='time')"/>
                    <span class="input-label" ng-if="uhranfang" style="font-size: smaller; color: #aaa;">Uhr</span>
                </label>
            </div>
            
            
            
            <div class="col col-50">
                <label class="item item-input" id="styleE" ng-click="hideSpanE = !hideSpanE">
                    <span ng-hide="hideSpanE" ng-if="!uhrende" >Endzeit</span>
                    <input class="textbox-n" id="timeE" type="text" ng-model="uhrende" value='{{activeArbeit.endzeit}}' onfocus="(this.type='time')" />
                    <span class="input-label" ng-if="uhrende" style="font-size: smaller; color: #aaa;">Uhr</span>
                </label>
            </div>
        </div>
        
       
       <div class="padding">
            <!--placeholder-->
        </div>
       
    
  
       
  </ion-content>

</ion-view>
