

<ion-view view-title="Sessionübersicht" ng-controller="ListCtrl">
  
  <ion-header-bar class="bar-positive">
    <!--<div class="buttons paddingtop">
      <button class="button icon-left ion-chevron-left button-clear" ng-click="callArbeitsoberflaeche()"></button>
    </div>-->
    <h1 class="title paddingtop">Sessionübersicht</h1>
    <div class="buttons paddingtop">
      <button class="button button-icon icon ion-gear-a" ng-click="options()"></button>
    </div>
  </ion-header-bar>

  <ion-content class="padding has-header" style="background-image:url('img/soskd.png'); background-repeat: no-repeat; background-position: 50% 80% ">
    <div class="padding">
            <!--placeholder-->
        </div>
      <ion-list show-delete="data.showDelete"  ng-click="checkDelete($event)">
        
        <ion-item ng-repeat="session in sessions" item="item" ng-click='callSessiondetail({{session.id}})' class="item-icon-right item-remove-animate">
          
          <h2>{{ session.client }}</h2>
          <p>{{ session.date}}</p>
          <i class="icon icon-right ion-chevron-right"></i>
          <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete({{session.id}})"> </ion-delete-button>
        </ion-item>
        
        </ion-item>
          <div class="button-bar">
            <a class="button icon-right ion-minus-circled" ng-click="checkDelete($event, true);">Entfernen</a>
            <a class="button icon-right ion-chevron-right " ng-click="callArbeitsoberflaeche()">Hinzufügen</a>
          </div>
      </ion-list>

      <div class="padding">
            <!--placeholder-->
      </div>
  
  </ion-content>
  
    <ion-footer-bar class="bar-positive">
      <button class="button button-full button-clear" ng-click="updateDatabase()" style="font-size: xx-large; display: block;"><b>SYNCHRONISIEREN</b></button>
  </ion-footer-bar>
</ion-view>
