

<ion-view view-title="Sessionübersicht">
  
  <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">Sessionübersicht</h1>
    <div class="buttons">
      <button class="button" ng-click="callArbeitsoberflaeche()">Zurück</button>
    </div>
  </ion-header-bar>

  <ion-content class="padding has-header">
      <ion-list show-delete="shouldShowDelete()" ng-controller="ListCtrl">
        <a class="item item-icon-left item-icon-right" >
          <!--<ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
          
          </ion-delete-button>-->
          <i class="icon"><img href="#" style="width: 50%;" src="img/loeschen.png"></i>
          <h2>Max Mustermann</h2>
          <p>Völs</p>
          <i class="icon icon-right ion-chevron-right"></i>
        </a>
        
        <a class="item item-icon-left item-icon-right" >
          <i class="icon"><img href="#" style="width: 50%;" src="img/loeschen.png"></i>
          <h2>Simon Huber</h2>
          <p>Innsbruck</p>
          <i class="icon icon-right ion-chevron-right"></i>

        </a>
        
        <a class="item item-icon-left item-icon-right" >
          <i class="icon"><img href="#" style="width: 50%;" src="img/loeschen.png"></i>
          <h2>Heidi Plumberger</h2>
          <p>Wörgl</p>
          <i class="icon icon-right ion-chevron-right"></i>
          </a>
        
        <a class="item item-icon-left item-icon-right" >
          <i class="icon"><img href="#" style="width: 50%;" src="img/loeschen.png"></i>
          <h2>Maria Obermüller</h2>
          <p>Zams</p>
          <i class="icon icon-right ion-chevron-right"></i>
        </a>
      </ion-list>

  </ion-content>
  
    <ion-footer-bar class="bar-positive">
      <button class="button button-full button-clear" ng-click="" style="margin-top: 0px"><b>HOCHLADEN</b></button>
  </ion-footer-bar>
</ion-view>
