

<ion-view view-title="Sessionmanager">
  
  
    <ion-header-bar align-title="left" class="bar-positive">
    <h1 class="title">Sessionmanager</h1>
    <div class="buttons">
      <button class="button" ng-click="callArbeitsoberflaeche()">Zurück</button>
    </div>
  </ion-header-bar>

  <ion-content class="padding has-header">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
  
  <div  class="bar bar-footer bar-calm" ng-click="">
    <div class="title">SESSION OK</div>
  </div>
</ion-view>
