

<ion-view view-title="Fahrt">
  
  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="callSessiondetail()">Zurück</button>
    </div>
    <h1 class="title">Sessionbearbeitung</h1>
  </ion-header-bar>
    
  <ion-content class="padding has-header">
    
        <div class="padding">
            <!--placeholder-->
        </div>
    
    
        <div class="row">
            <div class="col col-25">
                <img src="img/fahrtenmanager.png" style="width: 70%;"/>
            </div>
            <div class="col col-75">
                <label class="item item-input">
                    <input placeholder="KFZ" id="inKfz" class="textbox-n" value="{{kfz}}" type="text"/>
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Kilometer Anfang" id="inAnfangskilometer" class="textbox-n" type="number" value="{{activeFahrt.anfangskilometer}}" />
                    <span class="input-label" style="font-size: smaller; color: #aaa;">km</span> 
                </label>
            </div>
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Kilometer Ende" id="inEndkilometer" class="textbox-n" type="number" value="{{activeFahrt.endkilometer}}" />
                    <span class="input-label" style="font-size: smaller; color: #aaa;">km</span>
                </label>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Standort Anfang" id="inAnfangsort" class="textbox-n" value="{{activeFahrt.anfangsort}}" type="text"/>
                </label>
            </div>
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Standort Ende" id="inEndort" class="textbox-n" value="{{activeFahrt.endort}}" type="text"/>
                </label>
            </div>
        </div>
        
       <div class="padding">
            <!--placeholder-->
        </div>
       
        <!-- Uhre und Datum -->
        <div class="row">
             <div class="col">
                <label class="item item-input">
                    <span class="input-label" ng-if="!activeFahrt.date" style="font-size: smaller; color: #aaa;">Anfangsdatum</span> 
                    <input type="date" id="inDate" ng-model="activeFahrt.date" />
                </label>
            </div>
            <div class="col">
                <label class="item item-input">
                    <span class="input-label" ng-if="!datum" style="font-size: smaller; color: #aaa;">Enddatum</span> 
                    <input type="date" ng-model="enddatum" />
                </label>
            </div>
        </div>
        
        <!--Zeiten und Buttons-->
        
        
        
        <div class="row">
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Anfangszeit" id="inAnfangszeit" class="textbox-n" type="text" value="{{activeFahrt.anfangszeit}}" onfocus="(this.type='time')" onblur="(this.type='text')" />
                    <span class="input-label" style="font-size: smaller; color: #aaa;">Uhr</span>
                </label>
            </div>
            
            <div class="col col-50">
                <label class="item item-input">
                    <input placeholder="Endzeit" id="inEndzeit" class="textbox-n" type="text" value="{{activeFahrt.endzeit}}" onfocus="(this.type='time')" onblur="(this.type='text')" />
                    <span class="input-label" style="font-size: smaller; color: #aaa;">Uhr</span>
                </label>
            </div>
        </div>

       
       
       <div class="padding">
            <!--placeholder-->
        </div>
       
       <div class="padding list">
            <label class="item item-input item-select">
                <div class="input-label">
                  Fahrtyp
                </div>
                <select id="leistungSelect">
                    <option ng-repeat="leistung in leistungen" ng-selected="{{selected.value}}" data-leistung-id="{{leistung.id}}">{{leistung.name}}</option>
                </select>
            </label>
      </div>
       <div class="padding">
            <!--placeholder-->
        </div>
  </ion-content>
  
  <ion-footer-bar class="bar-positive">
      <button class="button button-full button-clear" ng-click="callSessiondetail(true)" style="font-size: xx-large"><b>OK</b></button>
  </ion-footer-bar>


</ion-view>
